header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

body {
    background-color: #FEDD59;
    font-family: sans-serif;
}

.user-actions button {
    margin-left: 10px;
    border-radius: 50px;
    background-color: black;
    color: #FEDD59;
    font-weight: bold;
    border-style: none;
    padding: 10px 10px;
    font-size: 16px;
}

.user-actions button:hover {
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.Titulo {
    width: 100%; 
    text-align: center;
    margin: 0 auto 20px;
}

.libros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px; 
}

.libro, .creador {
    width: 200px;
    text-align: center; 
    margin: 20px auto;
}


.libro img {
    width: 200px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   
}
.libro img:hover {
    filter: contrast(70%);
    cursor: default;
}


.libro p, .creador p {
    margin-top: 10px;
    font-weight: bold;
    font-family: sans-serif;
}


.Titulo2 {
    width: 100%; 
    text-align: center;
    margin: 0 auto 50px;
}

.creador img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.creador img:hover{
    filter:contrast(70%);
    cursor:default;
}


.creadores-container {
display: flex;
    justify-content: center;
    gap: 10px;
}

footer {
    background-color: black;
    padding: 10px;
    border-radius: 40px;
    color: #FEDD59; 
    text-align: center;
    font-size: 18px
}

.titulo3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px; 
}


footer:hover {
    filter:contrast(70%);
    cursor:default;
}

.registro-container {
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    width: 320px;
    margin: 0 auto;
    margin-bottom: 50px; 
}

.titulo_registro {
    color: #FEDD59; 
    text-align: center;
    margin-left: 2px;
}


.registro-imagen {
    display: flex;
    align-items: center; 
    margin-left: 60px
}


/* Estilo para el contenedor del formulario */
.registro-form {
    background-color: #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px; 
    margin: 0 auto; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
}





.input-field {
    width: 100%; 
    max-width: 280px; 
    background-color: #FEDD59;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    font-family: sans-serif;
    color: #000000;
    box-sizing: border-box;
    margin-left: auto; 
    margin-right: auto;
}


.registro-form label {
    color: #FEDD59; 
    margin-bottom: 5px;
    width: 100%; 
    text-align: center; 
}


.registro-button {
    background-color: #FEDD59;
    border: none;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.registro-button:hover {
    background-color: #000;
    color: #FEDD59;
}




.registro-form input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    border: none;
    font-family: sans-serif;
    color: #000;
}


.login-imagen {
    display: flex;
    align-items: center; 
}

.login-logo {
    width: 110px; 
    height: auto;
    margin-right: 10px; 
}

.titulo_login {
    color: #FEDD59; 
    text-align: center;
    margin-left: -10px;
}

.registro-success {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #dff0d8;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    font-size: 18px;
    max-width: 400px; 
    margin-left: auto; 
    margin-right: auto; 
}

.registro-success p {
    margin-bottom: 10px;
}

.registro-success button {
    padding: 5px 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.registro-success button:hover {
    background-color: #4cae4c;
}

/* estilo.css */

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    max-width: 400px; 
    border-radius: 5px;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #5cb85c;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.modal button:hover {
    background-color: #4cae4c;
}







.cerrar_sesion {
    position: absolute;
    top: 20px;
    right: 20px;
    border-radius: 50px;
    background-color: black;
    color: #FEDD59;
    font-weight: bold;
    border-style: none;
    padding: 10px 10px;
    font-size: 16px;
    display: inline-block;
    padding-left: 20px; 
    margin-top: 50px;
}

.cerrar_sesion:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


.cerrar_sesion img {
    position: absolute;
    top: -60px; 
    left: 25%;
    width: 70px; 
    height: auto; 
    right: 10%;
}


#modal-confirmar {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-content1 {
    background-color: #FEDD59;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #000000;
    width: 50%; 
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close2 {
    color: #000000;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
}

#modal-button-si1, #modal-button-no1 {
    background-color: #020202;
    color: #FEDD59;
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
   
}

#modal-button-si1:hover, #modal-button-no1:hover {
    background-color: #ffffff;
}


#theBookendsBtn {
    position: absolute;
    top: 20px;
    right: 170px;
    padding-right: 20px;
}

#theBookendsBtn .logo_the_bookends {
    width: 31px; 
    margin-right: 5px; 
    top: -38px;
    height: auto;
    left: 53px;
}


#modal-the-bookends {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); 
}

.modal-content-the-bookends {
    background-color: #FEDD59; 
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #000;
    width: 80%;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}

#generosBtn {
    position: absolute;
    top: 79px;
    right: 330px;
    padding-right: 20px;
}
.boton_generos{
    border-radius: 50px;
    background-color: black;
    color: #FEDD59;
    font-weight: bold;
    border-style: none;
    padding: 10px 10px;
    font-size: 16px;
    display: inline-block;
    padding-left: 20px; 
    margin-top: -9px;

}

.boton_generos:hover{
background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.boton_generos img {
    position: absolute;
    top: -36px; 
    left: 34%;
    width: 33px; 
    height: auto; 
    right: 10%;
}


#autoresBtn{
    position: absolute;
    top: 79px;
    right: 452px;
    padding-right: 20px;
}
.boton_autores{
    border-radius: 50px;
    background-color: black;
    color: #FEDD59;
    font-weight: bold;
    border-style: none;
    padding: 10px 10px;
    font-size: 16px;
    display: inline-block;
    padding-left: 20px; 
    margin-top: -9px;
   

 }
 
 .boton_autores:hover{
    background-color: rgb(255, 255, 255);
        cursor: pointer;
        
    }
    
    .boton_autores img {
        position: absolute;
        top: -36px; 
        left: 34%;
        width: 33px; 
        height: auto; 
        right: 10%;
    }

.modal-content-the-bookends{
    background-color: #FEDD59; 
    padding: 20px;
    border-radius: 10px;
    position: relative;
    margin: auto;
    width: 90%;
    max-width: 1100px;
    z-index: 1001;
    border: 0,5px solid #000; 
}


.modal-content-the-bookends .close {
    color: #000;
    position: absolute; 
    top: 10px; 
    right: 20px; 
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}


.modal-content-the-bookends .close:hover,
.modal-content-the-bookends .close:focus {
    color: #FFF;
    text-decoration: none;
}

.modal-the-bookends{
    display: none;
    position: fixed; 
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
}




.modal-content-the-bookends {
    text-align: center; 
}

.modal-content-the-bookends h2 {
    margin-bottom: 20px; 
}


.modal-content-the-bookends table {
    margin: 0 auto; 
    border-collapse: collapse; 
    width: 100%; 
    border-radius: 10px; 
}

.modal-content-the-bookends th, .modal-content-alquiler td {
    padding: 10px 20px; 
    border: 1px solid #000000; 
}

.modal-content-the-bookends th {
    background-color: #f2f2f2; 
}

.modal-content-the-bookends .close:hover,
.modal-content-the-bookends .close:focus {
    color: #FFF;
    text-decoration: none;
}



.cancelarLibro {
    float: right;
    background-color: #000000;
    color: #FFF;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}




.cancelarLibro:hover {
    background-color: #333;
}

#tiempoRestanteContainer{
    text-align: center;

}



.contenedor-info{
    margin: 20px auto;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    max-width: 600px;
    margin-top: 140px ;
    margin-right: 280px;
    
}
    .centrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;


    
}


.centrado2 { 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-weight: bold; 
    margin-top: -10px; 
}




.contenedor-info p strong {
    font-weight: bold;
}


.reputacion {
    margin-top: 20px; 
    margin-bottom: 10px;
}

.estrella {
    width: 20px;
}


.imagen-izquierda img {
    float: left;
    margin-right: 20px;
    max-width: 270px;
    margin-top: -320px;
    margin-left: 90px;
}


.imagen-izquierda img:hover {
    filter:contrast(70%);
    cursor:default;
}

.imagen-derecha img {
    float: left;
    margin-right: 20px;
    max-width: 150px;
    width: 150%; 
    margin-top: -270px;
    margin-left: 1090px;
}

.boton-libros{
    float: left;
    margin-right: 20px;
    max-width: 150px; 
    width: 150%; 
    margin-top: -170px;
    margin-left: 1085px;
    border-radius: 50px;
    background-color: black;
    color: #FEDD59;
    font-weight: bold;
    border-style: none;
    font-size: 16px;


}

.boton-libros:hover{
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}

.contenedor-imagen-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px; 
    text-align: center; 
}

.contenedor-imagen-texto img {
    max-width: 120px; 
}

.contenedor-imagen-texto p {
    font-size: 18px; 
    font-weight: bold; 
    font-family: Arial, sans-serif; 
    margin-top: 10px; 
}


@keyframes parpadeo {
    0% { opacity: 1; }
    50% { opacity: 0.5; }
    100% { opacity: 1; }
}

.contenedor-imagen-texto p {
    animation: parpadeo 3s infinite; /
}




.modal_generos {
    display: none;
    position: fixed;
    z-index: 999;
    left: 50%;
    top: 50%;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7); 
    justify-content: center; 
    align-items: center; 
    transform: translate(-50%, -50%);
}



.modal-content2 {
    background-color: #FEDD59; 
    padding: 20px;
    border-radius: 10px;
    position: relative;
    width: 80%; 
    max-width: 400px; 
    left: 450px;
    top: 70px;
}



.close3 {
    display: none;

}


.boton-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px; 
}


.modal-button {
    width: 100%;
    padding: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: black; 
    color: #FEDD59; 
    font-size: 12px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s; 
    cursor: pointer;
}


.modal-button:hover {
    background-color: white; 
    color: black; 
}


header {
    text-align: center;
    padding: 20px;
}



.titulo_biblioteca1 {
    text-align: center;
    margin-top: 20px;
}

.buscador {
    text-align: center;
}

.buscador input[type="text"] {
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    width: 250px; 
}

.buscador button[type="submit"] {
    padding: 10px 20px;
    background-color: #FEDD59;
    color: black;
    border: 2px solid #FEDD59;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    font-weight: bold;
}

.buscador button[type="submit"]:hover {
    background-color: black;
    color: #FEDD59;
    border-color: black;
}
.seccion-grande {
    text-align: center;
    margin-top: 50px;
}



.Titulo {
    margin-top: 50px; 
    margin-bottom: 10px; 


}

.libros-container1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px; 
    justify-items: center; 
    padding: 0 20px; 
}

.libro1 {
    width: 100%; 
    text-align: center; 
 
}

.libro1 img {
    width: 100%; 
    max-width: 100%; 
    height: auto; 
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.libro1 p {
    margin-top: 10px; 
    font-weight: bold; 
}







.autor {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FEDD59;
    border: 1px solid #000000;
    border-radius: 40px;
    padding: 15px;
    margin: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
   
}


.autor img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}
.autor_info {
    text-align: center;
}
.autor_info h3 {
    margin: 10px 0;
}

#autoresContainer {
    max-width: 1500px;             
    margin: 20px 20px 20px auto;   
    padding: 5px;                 
    background-color: #000000;   
    border-radius: 40px;          
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    display: flex;             
    flex-wrap: wrap;               
    justify-content: space-between; 
    position: relative;            
    left: 10px;                   
    top: 20px;                    
}
.autor_info p {
    text-align: justify; 
    margin: 5px 0;       
}

.autor_info p.important {
    text-align: center;
    margin: 10px 0;
}




.highlight {
    background-color: rgb(249, 253, 0);
}

.scrollbar-markers {
    position: fixed;
    top: 0;
    right: 0;
    width: 5px;
    height: 100%;
    z-index: 1000;
    pointer-events: none; 
}

.scrollbar-marker {
    width: 100%;
    height: 5px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    cursor: pointer;
    pointer-events: all; 
}






.sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
    text-align: center;
    margin-bottom: 20px; 
    margin-top: -30px;
}

.sidebar-header h2 {
    margin: 0;
    font-size: 24px;
}


.button-container {
    text-align: center;
}

.button-container button {
    padding: 10px 20px;
    margin: 5px; 
    border: none;
    background-color: #000000; 
    color: #ffffff; 
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold; 
}

.button-container button:hover {
    background-color: #FEDD59; 
    color: #000000; 
}



.section {
    margin-top: 20px; 
}

.section table {
    width: 100%; 
    border-collapse: collapse; 
    border: 2px solid #000; 
}

.section th,
.section td {
    padding: 10px; 
    text-align: left; 
    border: 1px solid #000; 
}


.section table {
    margin: 0 auto;
}


.section th,
.section td {
    text-align: center;
}


.section thead th {
    padding-bottom: 15px; 
}



#agregar-libro-form {
    margin-top: 20px; 
    text-align: center; 
}

#agregar-libro-form input[type="text"] {
    width: 80%; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius:10px solid #000; 
    box-sizing: border-box; 
}

#agregar-libro-form button {
    padding: 10px 20px; 
    border: none; 
    background-color: #000; 
    color: #fff; 
    cursor: pointer;
    border-radius: 10px; 
    transition: background-color 0.3s, color 0.3s; 
    width: 20%; 
    margin: 0 auto; 
    font-weight: bold; 
}

#agregar-libro-form button:hover {
    background-color: #FEDD59;
    color: #000; 
}

.delete-btn, .edit-btn {
    border-radius: 8px;
    padding: 10px 20px; 
    border: none; 
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
    font-weight: bold; 
    background-color: #000; 
    color: #fff; 
}

.delete-btn {
    background-color: #000; 
}

.edit-btn {
    background-color: #000; 
}

.delete-btn:hover {
    background-color: #FF0000; 
    color: #000; 
}

.edit-btn:hover {
    background-color: #7dca18; 
    color: #000; 
}
